@import compass
@import variables
@import mixins
@import media-susy
@import base
@import susy

h1, h2 ,h3
	color: #FFF
p, li
	color: rgba(#FFF, .87)
li
	+adjust-font-size-to($base-font-size)

.wrap
	+container
	padding-top: 50px

.page-header
	border-bottom-color: rgba(#555, .87)