html {
  font-size: 100%;
  line-height: 1.5em; }

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  letter-spacing: 0.08rem;
  color: #555;
  font-weight: normal;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6, th, .h1, .h2, .h3, .h4, .h5, .h6, .th {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, MingLiU, sans-serif;
  font-weight: bold; }

h1, .h1 {
  font-size: 2.125em;
  line-height: 1.41176em; }

h2, .h2 {
  font-size: 1.5em;
  line-height: 2em; }

h3, .h3 {
  font-size: 1.25em;
  line-height: 1.2em; }

h4, .h4 {
  font-size: 1em;
  line-height: 1.5em; }

h5, .h5 {
  font-size: 0.875em;
  line-height: 1.71429em; }

h6, .h6 {
  font-size: 0.75em;
  line-height: 2em; }

p, a, li, td, dt, dd, input, button {
  font-size: 0.875em;
  line-height: 1.71429em; }

p {
  margin-bottom: 1rem;
  font-weight: normal; }

a {
  color: #039BE5;
  text-decoration: none; }
  a:hover {
    color: #01579B; }
  a:hover, a:focus {
    text-decoration: underline; }

table, th, tr, td {
  border: 1px solid #555; }

table {
  width: 100%; }

th, td {
  padding: 0.5em 0.5em; }

th {
  text-align: center; }

hr {
  margin: 11px 2em 12px;
  border: 0;
  border-top: 1px solid #cacaca; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

h1, h2, h3 {
  color: #FFF; }

p, li {
  color: rgba(255, 255, 255, 0.87); }

li {
  font-size: 1em;
  line-height: 1.5em; }

a {
  font-size: 14px; }
  a:hover {
    color: #BBDEFB; }

ol ol {
  padding-left: 24px;
  list-style-type: Upper-roman; }

.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; }
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

.photo-gallery a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  margin-bottom: 32px; }
  .photo-gallery a:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both; }
  .photo-gallery a:nth-child(4n + 2) {
    margin-left: 25%;
    margin-right: -100%;
    clear: none; }
  .photo-gallery a:nth-child(4n + 3) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none; }
  .photo-gallery a:nth-child(4n + 4) {
    margin-left: 75%;
    margin-right: -100%;
    clear: none; }
  .photo-gallery a:hover, .photo-gallery a:focus {
    text-decoration: none; }
  .photo-gallery a p {
    margin-bottom: 0;
    font-size: 14px; }
  @media screen and (max-width: 768px) {
    .photo-gallery a {
      width: 32.20339%;
      float: left; }
      .photo-gallery a:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .photo-gallery a:nth-child(3n + 2) {
        margin-left: 33.89831%;
        margin-right: -100%;
        clear: none; }
      .photo-gallery a:nth-child(3n + 3) {
        margin-left: 67.79661%;
        margin-right: -100%;
        clear: none; } }
  @media screen and (max-device-width: 480px) {
    .photo-gallery a {
      width: 100%;
      float: left; }
      .photo-gallery a:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: none; } }
.photo-gallery img {
  display: block;
  max-width: 100%;
  height: auto;
  min-height: 199.516px; }

.page-header {
  border-bottom-color: rgba(85, 85, 85, 0.87); }

.fb-like {
  overflow: hidden; }
